.container {
  margin: 15px 0;

  .validation-bar {
    display: flex;
    width: 100%;
    overflow: hidden;
    background-color: gray;
    border-radius: 3px;
    border: 1px solid #e6e6e6;

    .invalid {
      width: 100% !important;
      background-color: red !important;
    }

    .easy {
      width: 10% !important;
      background-color: red !important;
    }

    .medium {
      width: 50% !important;
      background-color: yellow !important;
    }

    .strong {
      width: 100% !important;
      background-color: green !important;
    }

  }
}

