.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.inner-container {
  max-width: 576px;
}

.invalid {
  border-color: red;
}

#login {
  font-family: Raleway-SemiBold, sans-serif;
  color: #555555;
  line-height: 1.2;
  font-size: 14px;
  display: block;
  width: 300px;
  background: transparent;
  height: 25px;
  padding: 0 5px 0 5px;
  border-radius: 3px;
  border: 1px solid #e6e6e6;
  box-sizing: border-box;
}

#password {
  font-family: Raleway-SemiBold, sans-serif;
  color: #555555;
  line-height: 1.2;
  font-size: 14px;
  display: block;
  width: 300px;
  background: transparent;
  height: 25px;
  padding: 0 5px 0 5px;
  border-radius: 3px;
  border: 1px solid #e6e6e6;
  box-sizing: border-box;
}

.label-login {
  font-family: Raleway-SemiBold, sans-serif;
  font-size: 14px;
  color: #555555;
  line-height: 1.4;
  text-transform: uppercase;
}

.label-password {
  font-family: Raleway-SemiBold, sans-serif;
  font-size: 14px;
  color: #555555;
  line-height: 1.4;
  text-transform: uppercase;
}

.button {
  font-family: inherit, sans-serif;
  color: inherit;
  text-transform: uppercase;
  font-size: 14px;
  cursor: pointer;
}

.button-container {
  display: flex;
  justify-content: center;
  width: 100%;
}

span {
  font-family: Raleway-SemiBold, sans-serif;
  font-size: 14px;
  color: #555555;
  line-height: 1.4;
}



